header {
    background-image: url(/img/office_ai.png); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 87vh;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  }
  
  .navbartop {
    height: 13vh; /* Height of the navbar */
    z-index: 1020; /* Ensure navbar stays on top */
  }
  
  .navbar {
    height: 100%; /* No need for specific height, adjust padding instead */
  }

/* VANAF SMALL SCREENS */
@media (min-width: 576px) {

}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  
}
