section {
    min-height: auto;
}

.section2 h2 {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

/* carousel index */
.carousel-inner {
  position: relative; /* Set position relative to hold the overlay */
}

.carousel-item {
  height: 85vh; /* Reduced height to allow space for buttons */
}

.carousel-item img {
  width: 100%; /* Ensure the image takes the full width */
  height: 100%; /* Ensure the image takes the full height */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
}

.carousel-caption {
  position: absolute; /* Position captions absolutely within the item */
  bottom: 20px; /* Position it near the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Centering fix */
  /* color: var(--orangeSoft);  */
   text-align: center; /* Center text */
  z-index: 2; /* Ensure it overlays the image */
  background: rgba(9, 8, 94, 0.7); 
  padding: 10px 20px; /* Optional: Add some padding */
  border-radius: 5px; /* Optional: Rounded corners */
}

/* Background overlay for carousel images */
.carousel-inner::before {
  content: ''; /* Create an empty content for the pseudo-element */
  position: absolute; /* Position it absolutely within the inner carousel */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3); /* Dark overlay with box-shadow */
  z-index: 1; /* Ensure it overlays the images */
}


/* Style carousel controls (arrows) */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--orangeSoft); /* Set the arrow color */
  width: 50px; /* Adjust arrow thickness (optional) */
  height: 50px;
  border-radius: 10px;
}

/* Fix the issue with the left arrow not showing */
.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Increase clickable area for the arrows */
}
  /* paralax */

  .parallax-section {
    position: relative;
    height: 60vh;
    background-image: url('/img/nature3.jpg'); /* Add the path to your image */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Adjust text color for visibility */
    font-size: 1.5rem;
    text-align: center;
  }

  .parallax-content {
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); /* Optional background for text readability */
    padding: 20px;
    border-radius: 10px;
  }

  /* Optional media query for smaller screens */
  @media (max-width: 768px) {
    .parallax-section {
      height: 60vh; /* Increase height for smaller screens */
      font-size: 1.2rem;
    }
  }
  