:root {
    --whiteYellow: #fffef2;
    --blueDark: #003384;
    --orangeSoft: #ffb400;
  }
  
  /* ---------------------------------------------------------- ALL & BODY */
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--whiteYellow);
    font-family: "Public Sans";
  }
  
  /* --------------------------------------------------------------- FONTS */
  .fontMono {
    font-family: "Space Mono";
  }
  .fontSerif {
    font-family: "PT Serif";
  }
  
  /* -------------------------------------------------------- TEXT COLOURS */
  .blueText {
    color: var(--blueDark);
  }
  .orangeText {
    color: var(--orangeSoft) !important;
  }
  .whiteText {
    color: var(--whiteYellow);
  }
  
  /* ------------------------------------------------- BACKGROUND COLOURS */
  .blueBackground {
    background-color: var(--blueDark);
  }
  .orangeBackground {
    background-color: var(--orangeSoft);
  }
  .whiteBackground {
    background-color: var(--whiteYellow);
  }

  /* ------------------------------------------------- BUTTON COLOURS */

  .btnBlue{
    background-color: var(--blueDark);
    color: var(--orangeSoft);
  }
  .btnBlue:hover{
    background-color: var(--orangeSoft);
    color: var(--blueDark);
  }
  
  .btnOrange{
    background-color: var(--orangeSoft);
    color: var(--blueDark);
  }
  .btnOrange:hover{
    background-color: var(--blueDark);
    color: var(--orangeSoft);
  }
  .btn {
    transition: color 0.8s ease, background-color 0.8s ease; /* Smooth transitions for color and background color */
  }
  


