/* 
BOILER PLATE STARTING TEMPLATE 
___________________________________________________________________________
*/
/*                                               DECLARATION ROOT VARIABLES 
_________________________________________________________________________*/
:root {
  --whiteYellow: #fffef2;
  --blueDark: #003384;
  --orangeSoft: #ffb400;
}

/* ---------------------------------------------------------- ALL & BODY */
*,
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--whiteYellow);
  font-family: "Public Sans";
}

/* --------------------------------------------------------------- FONTS */
.fontMono {
  font-family: "Space Mono";
}
.fontSerif {
  font-family: "PT Serif";
}

/* -------------------------------------------------------- TEXT COLOURS */
.blueText {
  color: var(--blueDark);
}
.orangeText {
  color: var(--orangeSoft);
}
.whiteText {
  color: var(--whiteYellow);
}

/* ------------------------------------------------- BACKGROUND COLOURS */
.blueBackground {
  background-color: var(--blueDark);
}
.orangeBackground {
  background-color: var(--orangeSoft);
}
.whiteBackground {
  background-color: var(--whiteYellow);
}

/* ------------------------------------------------- line COLOURS */
.whiteLine {
  text-decoration-color: var(--whiteYellow); /* Change underline color */
}
.orangeLine {
  text-decoration-color: var(--orangeSoft); /* Change underline color */
}
.blueLine {
  text-decoration-color: var(--blueDark); /* Change underline color */
}

/* ------------------------------------------------- HEADINGS & GENERAL MARKUP */
h1 {
  margin-top: 55px;
  margin-bottom: 44px;
  text-decoration: underline;
  text-underline-offset: 20px;
  text-decoration-thickness: 3px;
  font-family: "Space Mono";
}
.overlay h1, .overlay h2{
  text-decoration: none;
}
h2 {
  padding-top: 44px;
  font-family: "Space Mono";
  font-size: .9em;
  text-decoration: underline;
  text-underline-offset: 13px;
  text-decoration-thickness: 2px;
}
h3{
  font-family: 'PT Serif';
  font-size: .8em;
  margin-bottom: 13px;
}
p{
  margin-top: 13px;
}
hr{
  width: 55%;
  margin: auto;
  margin-top: 50px;
height: 2px;}
/* ----------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------HEADER */
.header {
  height: 90vh;
  background-image: url(img/office_ai.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}
.headerabout{
  background-image: url(img/zengarden.jpg);

}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--orangeSoft);
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 9vh;
}

.darktext {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 100%;
  align-items: flex-start; /* Align children to the start */
}

.header h1 {
  font-family: 'Space Mono';
  margin-bottom: 10px;
  color: var(--whiteYellow);
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s forwards; /* Animation for h1 */
  animation-delay: 0.5s; /* Delay before the animation starts */
}

.header h2 {
font-size: 1.5rem;
  color: var(--orangeSoft);
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s forwards; /* Animation for h2 */
  animation-delay: 2s; /* Delay before the animation starts */
}

.header .button {
  font-family: 'Space Mono';
  font-size: 1.2em;
  padding: 12px 22px; 
  text-decoration: none;
  background-color: var(--blueDark);
  color: var(--orangeSoft);
  border: 2px solid var(--orangeSoft); 
  border-radius: 33px;
  cursor: pointer; 
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s forwards; /* Animation for button */
  animation-delay: 3.5s; /* Delay before the animation starts */
}
.header .button:hover {
  color: var(--whiteYellow);
  border-color: var(--whiteYellow);
}
/* Fade-in animation */
@keyframes fadeIn {
  to {
      opacity: 1; /* Fully visible */
  }
}
/* typewriter */
@keyframes typewriter {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blink {
  0% {
      border-right-color: rgba(255, 255, 255, 0.75);
  }
  100% {
      border-right-color: transparent;
  }
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* -------------------------------------------------------------NAVBAR */
.navbar {
  min-height: 8vh;
  background-color: var(--blueDark);
  padding: 10px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: inline-flex; /* Use inline-flex for horizontal layout */
  gap: 20px; /* Space between links */
}
.navbar a {
  color: var(--whiteYellow);
  text-decoration: none;
  padding: 10px 15px;
  transition: color 1.3s;
}
.navbar a:hover {
  color: var(--orangeSoft);
}
.navbar a.active {
  color: var(--orangeSoft);
}
#navbar {
  position: sticky;
  top: 0;
  transition: top 1.3s;
  overflow: hidden;
}
/* ----------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------SECTIONS */

section {
  min-height: 66vh;
  text-align: center;
  padding-bottom: 66px;
}

/* FIRST */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.text-column {
  flex: 1; /* Takes up available space */
  padding-right: 20px; /* Space between columns */
  font-size: .8em;
}
.text-column .icon{
  width: 8%;
  margin-top: 22px;
  filter: brightness(0) saturate(100%) invert(14%) sepia(82%) saturate(2379%) hue-rotate(205deg) brightness(98%) contrast(110%);
}

.image-column {
  flex: 1; /* Takes up available space */
}

.image-column img {
  max-width: 88%; /* Ensures the image is responsive */
  height: auto; /* Maintains aspect ratio */
  border: 4px solid var(--orangeSoft);
  border-radius: 33px;
  -webkit-box-shadow: 33px -29px 34px -39px rgba(255,180,0,1);
  -moz-box-shadow: 33px -29px 34px -39px rgba(255,180,0,1);
  box-shadow: 33px -29px 34px -39px rgba(255,180,0,1);
}

.button-container {
  display: flex; /* Enables Flexbox for the container */
  justify-content: center; /* Centers buttons horizontally */
  margin: 0; /* Optional: Adds some space above and below */
  margin-top: 88px;
}
.button-container2 {
  display: flex; /* Enables Flexbox for the container */
  justify-content: start; /* Centers buttons horizontally */
  margin: 0; /* Optional: Adds some space above and below */
  margin-left: 55px;
  padding-top: 55px;
  
}

.button {
  background-color: var(--blueDark); 
  color: var(--orangeSoft);
  text-align: center; /* Centers the text */
  padding: 10px 20px; /* Adjust padding for button size */
  margin: 0 10px; /* Adds space between the buttons */
  border: 4px solid var(--orangeSoft); /* Removes default border */
  border-radius: 25px; /* Optional: rounds the button corners */
  text-decoration: none; /* Removes underline from link */
  transition: color 1.3s; /* Smooth transition for hover effect */
  font-family: 'Space Mono';
}

.button:hover {
  color: var(--whiteYellow); /* Change to your desired hover color */
}
.button2 {
  background-color: var(--orangeSoft); 
  color: var(--blueDark);
  text-align: center; /* Centers the text */
  padding: 10px 20px; /* Adjust padding for button size */
  margin: 0 10px; /* Adds space between the buttons */
  border: 3px solid var(--whiteYellow); /* Removes default border */
  border-radius: 25px; /* Optional: rounds the button corners */
  text-decoration: none; /* Removes underline from link */
  transition: color 1.3s; /* Smooth transition for hover effect */
  font-family: 'Space Mono';
}

.button2:hover {
  color: var(--whiteYellow); /* Change to your desired hover color */
}
/* SECTION SKILLS */

section#skills {
  padding-top: 55px;
}
section#skills h1{
  margin-bottom: 88px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content:space-evenly;
  align-items: center;
  align-content: normal;
  
}

/* SECTION PROJECTS*/

.projects img {
  margin-top: 88px;
  max-width: 200px;
  border: 3px solid var(--orangeSoft);
  border-radius: 13px;
  
  /* Define a slightly bigger size on hover */
  transition: transform 3s;
}
.projects img:hover{
  cursor: pointer;
  /* transform:scale(150%); */
  transform: scale(2);  /* Make the image 10% bigger on hover */
}

/* ------------------------------------------------------------------------------footer */

footer {
  min-height: 25vh;
  background-color: var(--orangeSoft);
  position: relative;
}
p.copyright{
  text-align: center;
  font-size: .7em;
  font-family: 'PT Serif';
}

button#toTop{
  width: 55px;
  height: 55px;
  background-color: var(--blueDark);
  color: var(--orangeSoft);
  font-weight: 800;
  font-size: 1.3em;
  padding-top: 3px;
  border: 4px solid var(--whiteYellow);
  border-radius: 55px;
  position: absolute;
  right: 10%;
  bottom: 77%;
  transition: background-color 2s;
  
}
button#toTop:hover{
  cursor: pointer;
  color: var(--blueDark);
  background-color: var(--whiteYellow);
}

