/* 
BOILER PLATE STARTING TEMPLATE 
___________________________________________________________________________
*/
/*                                               DECLARATION ROOT VARIABLES 
_________________________________________________________________________*/
:root {
  --whiteYellow: #fffef2;
  --blueDark: #003384;
  --orangeSoft: #ffb400;
}

/* ---------------------------------------------------------- ALL & BODY */
*,
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--whiteYellow);
  font-family: "Public Sans";
}

/* --------------------------------------------------------------- FONTS */
.fontMono {
  font-family: "Space Mono";
}
.fontSerif {
  font-family: "PT Serif";
}

/* -------------------------------------------------------- TEXT COLOURS */
.blueText {
  color: var(--blueDark);
}
.orangeText {
  color: var(--orangeSoft);
}
.whiteText {
  color: var(--whiteYellow);
}

/* ------------------------------------------------- BACKGROUND COLOURS */
.blueBackground {
  background-color: var(--blueDark);
}
.orangeBackground {
  background-color: var(--orangeSoft);
}
.whiteBackground {
  background-color: var(--whiteYellow);
}

/* ------------------------------------------------- line COLOURS */
.whiteLine{
  text-decoration-color: var(--whiteYellow); /* Change underline color */
  
}
.orangeLine{
  text-decoration-color: var(--orangeSoft); /* Change underline color */
}

/* ------------------------------------------------- HEADINGS */
h1 {
  margin-top: 69px;
  margin-bottom: 88px;
text-decoration: underline;
text-underline-offset: 20px;
text-decoration-thickness: 3px;
font-family: 'Space Mono';
}

h2{

}

/* ----------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------HEADER */
.header {
  height: 90vh; /* Set header height to 90% of the viewport height */
  background-image: url('/IMG/zengarden.jpg'); /* Background image URL */
  background-size: cover; /* Cover the entire header area */
  background-position: center; /* Center the background image */
  display: flex; /* Flexbox for centering content */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
  color: white; /* Text color */
  text-align: center; /* Center text */
  position: relative;
}

.box {
  max-width: 30%;
  height: auto;
  position: absolute;
  top: 50%; 
  left: 60%; 
  transform: translate(-50%, -50%); 
  background-color: var(--blueDark);
  opacity: .7;
  padding: 25px;
  border-radius: 22px; 
  border: 2px solid var(--orangeSoft);
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);  */
}
img.icon{
  width: 20%;
  margin-top: 30px;
  margin-bottom: 23px;
  filter: brightness(0) saturate(100%) invert(73%) sepia(64%) saturate(2682%) hue-rotate(359deg) brightness(104%) contrast(104%);
}

.link-button {
  font-weight: 500;
  font-family: 'Space Mono';
  position: absolute;
  bottom: -25px; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: var(--blueDark); 
  color: var(--orangeSoft); 
  text-decoration: none; 
  padding: 5px 10px; 
  border: 2px solid var(--orangeSoft);
  border-radius: 5px; 
  display: inline-block; 
  cursor: pointer; 
  transition: color 1.3s; 
}

.link-button:hover {
  color: var(--whiteYellow);
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* -------------------------------------------------------------NAVBAR */
.navbar {
  min-height: 8vh;
  background-color: var(--blueDark);
  padding: 10px 0;
  text-align: center; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: inline-flex; /* Use inline-flex for horizontal layout */
  gap: 20px; /* Space between links */
}
.navbar a {
  color: var(--whiteYellow);
  text-decoration: none;
  padding: 10px 15px;
  transition: color 1.3s;
}
.navbar a:hover {
color: var(--orangeSoft);  
}
.navbar a.active {
  color: var(--orangeSoft);  
  }
  #navbar {
    position: sticky;
    top: 0;
    transition: top 1.3s;
    overflow: hidden;}
  /* ----------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------SECTIONS */

section{
  min-height: 100vh;
}


